body {
  margin: 0px;
  overflow: hidden;
  padding: 0px;
}
body input, body h1, body h2, body h3, body a {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  margin: 0px;
  padding: 0px;
}

#app {
  background-color: #2d3240;
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}
#app #youtube-link {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.06);
  border-radius: 4px;
  display: flex;
  gap: 10px;
  margin: 10px;
  padding: 10px;
  position: fixed;
  right: 0px;
  text-decoration: none;
  top: 0px;
  z-index: 2;
}
#app #youtube-link:hover {
  background-color: rgba(255, 255, 255, 0.16);
}
#app #youtube-link i, #app #youtube-link span {
  height: 16px;
  line-height: 16px;
}
#app #youtube-link i {
  color: #ed4245;
}
#app #youtube-link span {
  color: white;
  font-size: 0.8em;@import 'https://fonts.googleapis.com/css?family=Raleway';@import 'https://fonts.googleapis.com/css?family=Raleway';@import 'https://fonts.googleapis.com/css?family=Raleway';
* {
  outline: none;
  user-select: none;
}

body, html {
  margin: 0;
  background: #ddd;
  color: #7a7b7c;
}

body {
  font-family: "Raleway", "Microsoft JhengHei", Arial, sans-serif;
}

.profile {
  width: 330px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  background-color: #fafafa;
  box-shadow: 0 0 2rem #babbbc;
  animation: show-profile 0.5s forwards ease-in-out;
}
@keyframes show-profile {
  0% {
    width: 0;
  }
}
.profile .photo, .profile .content {
  box-sizing: border-box;
}
.profile .photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid #fafafa;
  background-color: #fafafa;
  margin-left: -50px;
  box-shadow: 0 0 0.5rem #babbbc;
  animation: rotate-photo 0.5s forwards ease-in-out;
}
@keyframes rotate-photo {
  100% {
    transform: rotate(-360deg);
  }
}
.profile .photo img {
  width: 100%;
}
.profile .content {
  padding: 10px;
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.profile .content::before {
  content: "";
  position: absolute;
  width: 230px;
  height: 150px;
  background-color: #e9f3e6;
  left: 0;
  top: -20px;
  z-index: -1;
  transform: rotate(-8deg);
}
.profile .content .text {
  margin-top: 20px;
  margin-left: 50px;
}
.profile .content .text h3, .profile .content .text h6 {
  font-weight: normal;
  margin: 3px 0;
  letter-spacing: 0.5px;
  white-space: nowrap;
}
.profile .content .btn {
  background-color: #abc;
  width: 50px;
  height: 50px;
  position: absolute;
  right: 25px;
  top: 25px;
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
  transition-duration: 0.3s;
  animation: pop-btn 0.3s both ease-in-out 0.5s;
}
@keyframes pop-btn {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.profile .content .btn:hover {
  box-shadow: 0 0 0 5px rgba(170, 187, 204, 0.5);
}
.profile .content .btn span {
  width: 60%;
  height: 2px;
  position: absolute;
  background-color: white;
  top: 50%;
  left: 20%;
  transform: translateY(-50%);
  animation: to-hamburger 0.3s forwards ease-in-out;
}
.profile .content .btn span::before, .profile .content .btn span::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  background-color: white;
  transition-duration: 0.3s;
  transform: rotate(0deg);
  right: 0;
}
.profile .content .btn span::before {
  margin-top: -7px;
}
.profile .content .btn span::after {
  margin-top: 7px;
}
.profile .content .btn.active span {
  animation: to-arrow 0.3s forwards ease-in-out;
}
.profile .content .btn.active span::before, .profile .content .btn.active span::after {
  width: 60%;
  right: -1px;
}
.profile .content .btn.active span::before {
  transform: rotate(45deg);
}
.profile .content .btn.active span::after {
  transform: rotate(-45deg);
}
@keyframes to-hamburger {
  from {
    transform: translateY(-50%) rotate(-180deg);
  }
}
@keyframes to-arrow {
  from {
    transform: translateY(-50%) rotate(0deg);
  }
  to {
    transform: translateY(-50%) rotate(180deg);
  }
}
.profile .box {
  width: 150px;
  height: 150px;
  opacity: 0;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  top: 50%;
  right: -40%;
  transform: translate(-50%, -50%);
  transition-duration: 0.3s;
}
.profile .box i {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ececec;
  font-size: 14px;
  text-align: center;
  line-height: 50px;
  position: absolute;
  left: 18px;
  top: calc(75px - 50px/2);
  box-shadow: 0 0 0.5rem #babbbc;
  transition-duration: 0.3s;
}
.profile .box i:hover {
  transition-delay: initial !important;
  box-shadow: 0 0 0 5px #babbbc;
}
.profile .box.open {
  opacity: 1;
}
.profile .box.open i {
  left: 60px;
}
.profile .box.open i:nth-of-type(1) {
  transform: rotate(-90deg) translateX(120px) rotate(90deg);
  transition-delay: 0s;
}
.profile .box.open i:nth-of-type(2) {
  transform: rotate(-45deg) translateX(120px) rotate(45deg);
  transition-delay: 0.1s;
}
.profile .box.open i:nth-of-type(3) {
  transform: rotate(0deg) translateX(120px) rotate(0deg);
  transition-delay: 0.2s;
}
.profile .box.open i:nth-of-type(4) {
  transform: rotate(45deg) translateX(120px) rotate(-45deg);
  transition-delay: 0.3s;
}
.profile .box.open i:nth-of-type(5) {
  transform: rotate(90deg) translateX(120px) rotate(-90deg);
  transition-delay: 0.4s;
}
.profile .box.open a {
    color: #7a7b7c;
    text-decoration: none;
}
.profile .box a {
    color: #7a7b7c;
    text-decoration: none;
}
* {
  outline: none;
  user-select: none;
}

body, html {
  margin: 0;
  background: #ddd;
  color: #7a7b7c;
}

body {
  font-family: "Raleway", "Microsoft JhengHei", Arial, sans-serif;
}

.profile {
  width: 330px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  background-color: #fafafa;
  box-shadow: 0 0 2rem #babbbc;
  animation: show-profile 0.5s forwards ease-in-out;
}
@keyframes show-profile {
  0% {
    width: 0;
  }
}
.profile .photo, .profile .content {
  box-sizing: border-box;
}
.profile .photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid #fafafa;
  background-color: #fafafa;
  margin-left: -50px;
  box-shadow: 0 0 0.5rem #babbbc;
  animation: rotate-photo 0.5s forwards ease-in-out;
}
@keyframes rotate-photo {
  100% {
    transform: rotate(-360deg);
  }
}
.profile .photo img {
  width: 100%;
}
.profile .content {
  padding: 10px;
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.profile .content::before {
  content: "";
  position: absolute;
  width: 230px;
  height: 150px;
  background-color: #e9f3e6;
  left: 0;
  top: -20px;
  z-index: -1;
  transform: rotate(-8deg);
}
.profile .content .text {
  margin-top: 20px;
  margin-left: 50px;
}
.profile .content .text h3, .profile .content .text h6 {
  font-weight: normal;
  margin: 3px 0;
  letter-spacing: 0.5px;
  white-space: nowrap;
}
.profile .content .btn {
  background-color: #abc;
  width: 50px;
  height: 50px;
  position: absolute;
  right: 25px;
  top: 25px;
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
  transition-duration: 0.3s;
  animation: pop-btn 0.3s both ease-in-out 0.5s;
}
@keyframes pop-btn {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.profile .content .btn:hover {
  box-shadow: 0 0 0 5px rgba(170, 187, 204, 0.5);
}
.profile .content .btn span {
  width: 60%;
  height: 2px;
  position: absolute;
  background-color: white;
  top: 50%;
  left: 20%;
  transform: translateY(-50%);
  animation: to-hamburger 0.3s forwards ease-in-out;
}
.profile .content .btn span::before, .profile .content .btn span::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  background-color: white;
  transition-duration: 0.3s;
  transform: rotate(0deg);
  right: 0;
}
.profile .content .btn span::before {
  margin-top: -7px;
}
.profile .content .btn span::after {
  margin-top: 7px;
}
.profile .content .btn.active span {
  animation: to-arrow 0.3s forwards ease-in-out;
}
.profile .content .btn.active span::before, .profile .content .btn.active span::after {
  width: 60%;
  right: -1px;
}
.profile .content .btn.active span::before {
  transform: rotate(45deg);
}
.profile .content .btn.active span::after {
  transform: rotate(-45deg);
}
@keyframes to-hamburger {
  from {
    transform: translateY(-50%) rotate(-180deg);
  }
}
@keyframes to-arrow {
  from {
    transform: translateY(-50%) rotate(0deg);
  }
  to {
    transform: translateY(-50%) rotate(180deg);
  }
}
.profile .box {
  width: 150px;
  height: 150px;
  opacity: 0;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  top: 50%;
  right: -40%;
  transform: translate(-50%, -50%);
  transition-duration: 0.3s;
}
.profile .box i {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ececec;
  font-size: 14px;
  text-align: center;
  line-height: 50px;
  position: absolute;
  left: 18px;
  top: calc(75px - 50px/2);
  box-shadow: 0 0 0.5rem #babbbc;
  transition-duration: 0.3s;
}
.profile .box i:hover {
  transition-delay: initial !important;
  box-shadow: 0 0 0 5px #babbbc;
}
.profile .box.open {
  opacity: 1;
}
.profile .box.open i {
  left: 60px;
}
.profile .box.open i:nth-of-type(1) {
  transform: rotate(-90deg) translateX(120px) rotate(90deg);
  transition-delay: 0s;
}
.profile .box.open i:nth-of-type(2) {
  transform: rotate(-45deg) translateX(120px) rotate(45deg);
  transition-delay: 0.1s;
}
.profile .box.open i:nth-of-type(3) {
  transform: rotate(0deg) translateX(120px) rotate(0deg);
  transition-delay: 0.2s;
}
.profile .box.open i:nth-of-type(4) {
  transform: rotate(45deg) translateX(120px) rotate(-45deg);
  transition-delay: 0.3s;
}
.profile .box.open i:nth-of-type(5) {
  transform: rotate(90deg) translateX(120px) rotate(-90deg);
  transition-delay: 0.4s;
}
.profile .box.open a {
    color: #7a7b7c;
    text-decoration: none;
}
.profile .box a {
    color: #7a7b7c;
    text-decoration: none;
}
* {
  outline: none;
  user-select: none;
}

body, html {
  margin: 0;
  background: #ddd;
  color: #7a7b7c;
}

body {
  font-family: "Raleway", "Microsoft JhengHei", Arial, sans-serif;
}

.profile {
  width: 330px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  background-color: #fafafa;
  box-shadow: 0 0 2rem #babbbc;
  animation: show-profile 0.5s forwards ease-in-out;
}
@keyframes show-profile {
  0% {
    width: 0;
  }
}
.profile .photo, .profile .content {
  box-sizing: border-box;
}
.profile .photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid #fafafa;
  background-color: #fafafa;
  margin-left: -50px;
  box-shadow: 0 0 0.5rem #babbbc;
  animation: rotate-photo 0.5s forwards ease-in-out;
}
@keyframes rotate-photo {
  100% {
    transform: rotate(-360deg);
  }
}
.profile .photo img {
  width: 100%;
}
.profile .content {
  padding: 10px;
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.profile .content::before {
  content: "";
  position: absolute;
  width: 230px;
  height: 150px;
  background-color: #e9f3e6;
  left: 0;
  top: -20px;
  z-index: -1;
  transform: rotate(-8deg);
}
.profile .content .text {
  margin-top: 20px;
  margin-left: 50px;
}
.profile .content .text h3, .profile .content .text h6 {
  font-weight: normal;
  margin: 3px 0;
  letter-spacing: 0.5px;
  white-space: nowrap;
}
.profile .content .btn {
  background-color: #abc;
  width: 50px;
  height: 50px;
  position: absolute;
  right: 25px;
  top: 25px;
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
  transition-duration: 0.3s;
  animation: pop-btn 0.3s both ease-in-out 0.5s;
}
@keyframes pop-btn {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.profile .content .btn:hover {
  box-shadow: 0 0 0 5px rgba(170, 187, 204, 0.5);
}
.profile .content .btn span {
  width: 60%;
  height: 2px;
  position: absolute;
  background-color: white;
  top: 50%;
  left: 20%;
  transform: translateY(-50%);
  animation: to-hamburger 0.3s forwards ease-in-out;
}
.profile .content .btn span::before, .profile .content .btn span::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  background-color: white;
  transition-duration: 0.3s;
  transform: rotate(0deg);
  right: 0;
}
.profile .content .btn span::before {
  margin-top: -7px;
}
.profile .content .btn span::after {
  margin-top: 7px;
}
.profile .content .btn.active span {
  animation: to-arrow 0.3s forwards ease-in-out;
}
.profile .content .btn.active span::before, .profile .content .btn.active span::after {
  width: 60%;
  right: -1px;
}
.profile .content .btn.active span::before {
  transform: rotate(45deg);
}
.profile .content .btn.active span::after {
  transform: rotate(-45deg);
}
@keyframes to-hamburger {
  from {
    transform: translateY(-50%) rotate(-180deg);
  }
}
@keyframes to-arrow {
  from {
    transform: translateY(-50%) rotate(0deg);
  }
  to {
    transform: translateY(-50%) rotate(180deg);
  }
}
.profile .box {
  width: 150px;
  height: 150px;
  opacity: 0;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  top: 50%;
  right: -40%;
  transform: translate(-50%, -50%);
  transition-duration: 0.3s;
}
.profile .box i {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ececec;
  font-size: 14px;
  text-align: center;
  line-height: 50px;
  position: absolute;
  left: 18px;
  top: calc(75px - 50px/2);
  box-shadow: 0 0 0.5rem #babbbc;
  transition-duration: 0.3s;
}
.profile .box i:hover {
  transition-delay: initial !important;
  box-shadow: 0 0 0 5px #babbbc;
}
.profile .box.open {
  opacity: 1;
}
.profile .box.open i {
  left: 60px;
}
.profile .box.open i:nth-of-type(1) {
  transform: rotate(-90deg) translateX(120px) rotate(90deg);
  transition-delay: 0s;
}
.profile .box.open i:nth-of-type(2) {
  transform: rotate(-45deg) translateX(120px) rotate(45deg);
  transition-delay: 0.1s;
}
.profile .box.open i:nth-of-type(3) {
  transform: rotate(0deg) translateX(120px) rotate(0deg);
  transition-delay: 0.2s;
}
.profile .box.open i:nth-of-type(4) {
  transform: rotate(45deg) translateX(120px) rotate(-45deg);
  transition-delay: 0.3s;
}
.profile .box.open i:nth-of-type(5) {
  transform: rotate(90deg) translateX(120px) rotate(-90deg);
  transition-delay: 0.4s;
}
.profile .box.open a {
    color: #7a7b7c;
    text-decoration: none;
}
.profile .box a {
    color: #7a7b7c;
    text-decoration: none;
}
  font-weight: 500;
}
#app #menu-toggle {
  background-color: white;
  border: none;
  border-radius: 8vh;
  bottom: 0px;
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  height: 8vh;
  left: 0px;
  margin: 2vh;
  position: fixed;
  width: 8vh;
  z-index: 3;
}
#app #menu-toggle:hover {
  background-color: #f0f0f0;
}
#app #menu-toggle i {
  color: #64b5f6;
  font-size: 2vh;
  height: 3vh;
  line-height: 3vh;
  text-align: center;
  width: 3vh;
}
#app #menu {
  height: 100vh;
  opacity: 0;
  position: absolute;
  transform: translateX(-50%);
  transition: opacity 250ms, transform 250ms;
  transition-delay: 300ms;
  width: 40vh;
}
#app #menu.toggled {
  opacity: 1;
  transform: translateX(0%);
  transition-delay: 0ms;
}
#app #menu.toggled #menu-quick-options .menu-quick-option {
  opacity: 1;
  transform: translateX(0%);
}
#app #menu.toggled #menu-quick-options .menu-quick-option:first-of-type, #app #menu.toggled #menu-quick-options .menu-quick-option:last-of-type {
  transform: translateX(-50%);
}
#app #menu.toggled #menu-full-options .menu-full-option {
  opacity: 1;
  transform: translateX(-0.5vh);
}
#app #menu.toggled #menu-full-options .menu-full-option:first-of-type, #app #menu.toggled #menu-full-options .menu-full-option:last-of-type {
  transform: translateX(-4vh);
}
#app #menu.toggled #menu-full-options .menu-full-option:nth-of-type(2), #app #menu.toggled #menu-full-options .menu-full-option:nth-of-type(4) {
  transform: translateX(-2vh);
}
#app #menu.toggled #menu-background-wrapper #menu-background:before {
  transform: translate(-50%, -50%);
  transition-delay: 200ms;
}
#app #menu #menu-background-wrapper {
  height: 100vh;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 40vh;
  z-index: 1;
}
#app #menu #menu-background-wrapper #menu-background {
  background-color: #64b5f6;
  border-bottom-right-radius: 100%;
  border-top-right-radius: 100%;
  box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.15);
  height: 200vh;
  position: absolute;
  right: 0px;
  top: -50vh;
  width: 200vh;
}
#app #menu #menu-background-wrapper #menu-background:before {
  background-color: rgba(100, 181, 246, 0.05);
  border: 1px solid rgba(100, 181, 246, 0.2);
  border-bottom-right-radius: 100%;
  border-top-right-radius: 100%;
  content: "";
  height: 120%;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-100%, -50%);
  transition: transform 250ms;
  width: 120%;
  z-index: -1;
}
#app #menu #menu-profile-image {
  border-radius: 500px;
  box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.15);
  display: block;
  height: 40vh;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40vh;
  z-index: 2;
}
#app #menu #menu-quick-options {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 40vh;
  justify-content: space-around;
  position: absolute;
  top: 50%;
  transform: translate(100%, -50%);
  width: 20vh;
  z-index: 3;
}
#app #menu #menu-quick-options .menu-quick-option {
  align-items: center;
  background-color: white;
  border: none;
  border-radius: 8vh;
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  display: flex;
  height: 8vh;
  justify-content: center;
  opacity: 0;
  padding: 0px;
  transform: translateX(-30%) scale(0.25);
  transition: opacity 150ms, transform 150ms;
  width: 8vh;
}
#app #menu #menu-quick-options .menu-quick-option:hover {
  background-color: #f0f0f0;
}
#app #menu #menu-quick-options .menu-quick-option:hover .tooltip {
  opacity: 1;
  transform: translateX(100%);
}
#app #menu #menu-quick-options .menu-quick-option:first-of-type {
  transform: translate(-80%, 30%) scale(0.5);
}
#app #menu #menu-quick-options .menu-quick-option:last-of-type {
  transform: translate(-80%, -30%) scale(0.5);
}
#app #menu #menu-quick-options .menu-quick-option i {
  color: #64b5f6;
  font-size: 2vh;
  height: 3vh;
  line-height: 3vh;
  text-align: center;
  width: 3vh;
}
#app #menu #menu-quick-options .menu-quick-option .tooltip {
  background-color: #1e1e1e;
  border-radius: 0.5vh;
  box-shadow: 0px 0px 1vh 0.25vh rgba(0, 0, 0, 0.08);
  color: white;
  font-size: 1em;
  opacity: 0;
  padding: 1vh;
  pointer-events: none;
  position: absolute;
  right: -1vh;
  transform: translateX(90%);
  transition: opacity 250ms, transform 250ms;
}
#app #menu #menu-full-options {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 60vh;
  justify-content: space-around;
  left: 44vh;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 20vh;
  z-index: 2;
}
#app #menu #menu-full-options .menu-full-option {
  align-items: center;
  background-color: transparent;
  border: none;
  border-radius: 0.5vh;
  cursor: pointer;
  display: flex;
  gap: 1vh;
  opacity: 0;
  padding: 1vh;
  transform: translateX(-2vh);
  transition: opacity 150ms, transform 150ms;
}
#app #menu #menu-full-options .menu-full-option:hover {
  background-color: rgba(255, 255, 255, 0.05);
}
#app #menu #menu-full-options .menu-full-option:first-of-type, #app #menu #menu-full-options .menu-full-option:last-of-type {
  transform: translateX(-6vh);
}
#app #menu #menu-full-options .menu-full-option:nth-of-type(2), #app #menu #menu-full-options .menu-full-option:nth-of-type(4) {
  transform: translateX(-4vh);
}
#app #menu #menu-full-options .menu-full-option i, #app #menu #menu-full-options .menu-full-option h3 {
  color: white;
  font-size: 1.5vh;
  height: 2vh;
  line-height: 2vh;
}

@media (max-width: 1200px) {
  #app #menu {
    width: 30vh;
  }
  #app #menu #menu-background-wrapper {
    width: 30vh;
  }
  #app #menu #menu-profile-image {
    height: 30vh;
    width: 30vh;
  }
  #app #menu #menu-quick-options {
    width: 15vh;
  }
  #app #menu #menu-full-options {
    left: 34vh;
  }
}
@media (max-width: 800px) {
  #app #menu {
    width: 25vh;
  }
  #app #menu #menu-background-wrapper {
    width: 25vh;
  }
  #app #menu #menu-profile-image {
    height: 25vh;
    width: 25vh;
  }
  #app #menu #menu-quick-options {
    width: 12.5vh;
  }
  #app #menu #menu-quick-options .menu-quick-option {
    height: 7vh;
    width: 7vh;
  }
  #app #menu #menu-full-options {
    left: 29vh;
  }
}
@media (prefers-reduced-motion) {
  #app #menu {
    transition: none;
  }
  #app #menu #menu-quick-options .menu-quick-option {
    transition: none;
  }
  #app #menu #menu-full-options .menu-full-option {
    transition: none;
  }
  #app #menu #menu-background-wrapper #menu-background:before {
    transition: none;
  }
}
